/* =========================
   LIGHT THEME
========================= */

:root {

    --background: #eef3ff;
    --surface: #ffffff;

    --surface-glass: rgba(255, 255, 255, .72);

    --sidebar: rgba(255, 255, 255, .65);

    --text: #1f2937;

    --text-secondary: #6b7280;

    --border: #e5e7eb;

    --shadow: 0 20px 45px rgba(0, 0, 0, .08);

}

/* =========================
   DARK THEME
========================= */

body.dark {

    --background: #0f172a;
    --surface: #1e293b;

    --surface-glass: rgba(30, 41, 59, .82);

    --sidebar: #111827;

    --text: #f8fafc;

    --text-secondary: #cbd5e1;

    --border: #334155;

    --shadow: 0 20px 45px rgba(0, 0, 0, .45);

}